<section class="main" data-controller="page">
  <div class="form">
    <div>
      <label for="email" class="email-label">Your Email:</label>
      <input class="text-input"  name="email" type="text">
    </div>
  </div>
</section>
